![Hand with calculator](calculator.jpg)

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# The output

Your query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [1]:
WITH t1 AS (
	SELECT industry, COUNT(company_id) AS num_uni
	FROM industries
	GROUP BY industry
	ORDER BY num_uni DESC
	LIMIT 3),
t2 AS (
	SELECT industries.industry, EXTRACT(YEAR FROM dates.date_joined) AS year, industries.company_id, funding.valuation
	 FROM industries
	 INNER JOIN dates
	 ON industries.company_id = dates.company_id
	INNER JOIN funding
	ON industries.company_id = funding.company_id
)
SELECT t2.industry, t2.year, COUNT(t2.company_id) AS num_unicorns, CAST(AVG(t2.valuation)/1000000000 AS decimal(10,2)) AS average_valuation_billions
FROM t1, t2
WHERE t2.industry = t1.industry AND t2.year IN (2019,2020,2021)
GROUP BY t2.industry, t2.year
ORDER BY t2.year, num_unicorns DESC

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        6.80
1     Internet software & services  ...                        4.23
2  E-commerce & direct-to-consumer  ...                        2.58
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        2.75
7     Internet software & services  ...                        2.15
8  E-commerce & direct-to-consumer  ...                        2.47

[9 rows x 4 columns]